<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">	
  {% if page.excerpt %}<meta property="og:description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
  <meta property="og:image" content="//ryanpark.dev/assets/img/profile_photo.jpg">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">	
  <meta property="og:site_name" content="{{ site.title }}">	

  <link href="/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
  
  <!-- favicon -->
  <link rel="apple-touch-icon" href="/public/apple-icon-precomposed.png">	
  <link rel="apple-touch-icon" sizes="72x72" href="/public/apple-icon-72x72.png">	
  <link rel="apple-touch-icon" sizes="114x114" href="/public/apple-icon-114x114.png">	
  <link rel="apple-touch-icon" sizes="144x144" href="/public/apple-icon-144x144.png">	
  <link rel="shortcut icon" type="image/png" href="/favicon.png" />	
  <link rel="shortcut icon" href="/public/favicon.ico" />
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/hyde.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}public/apple-icon-precomposed.png">
                                 <link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- google adsense -->
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-8615194589591291",
          enable_page_level_ads: true
      });
  </script>
</head>
